.summary {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerRight {
  display: flex;
  justify-content: space-between;
}

.individualReview {
  border-bottom: 1px solid grey;
}