.summary {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
}

.body {
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 15px;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.individualReview {
  border-bottom: 1px solid grey;
  font-family: Arial;
}

.reviewer_name {
  margin-right: 4px;
}

.helpfulness {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 13px;
}

.helpfulYesButton {
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
}