.option {
  font-size: 13px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.optionRow {
  margin-right: 15px;
  font-size: 14px;
}

.char {
  font-size: 16px;
  display: flex;
  margin-bottom: 15px;
}

.label {
  vertical-align: center;
  height: 30px;
  padding-bottom: 5px;
  padding-top: 6px;
}

.button, .button1 , .button5 {
  height: 22px;
  width: 22px;
  vertical-align: top;
  position: relative;
  top: -13px;
  cursor: pointer;
  border: 1px solid rgb(165, 165, 165);
}

.button1 {
  right: 6px;
  border: 1px solid rgb(165, 165, 165);
}

.button5 {
  left: 6px;
  border: 1px solid rgb(165, 165, 165);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 1px;
  width: 85%;
  background:rgb(160, 160, 160);
  bottom: -17px;
}

.buttonContainer {
  height: 38px;
}

.charContainer {
  width: 50%;
}

.char1 {
  width: 33%;
  text-align: left;
}
.char2 {
  width: 33%;
  text-align: center;
}
.char3 {
  width: 33%;
  text-align: right;
}

.select {
  font-size: 13px;
}