.header {
  display: flex;
}

.numRating {
  font-size: 65px;
  font-weight: bold;

}

.recommend {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.stars {
  height: 10px;
  width: 10px;
}
