#MoreQ-btn, #QAdd-btn {
  height: 60px;
  width: 180px;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  transition: transform 0.3s;
}

#MoreQ-btn {
  margin-right: 1em;
}

#MoreQ-btn:hover, #QAdd-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}