#MoreQ-btn, #QAdd-btn {
  height: 4em;
  width: 20em;
  border-color: gray;
  border-radius: 5px;
  background-color: white;
}

#MoreQ-btn {
  margin-right: 1em;
}

#MoreQ-btn:hover, #QAdd-btn:hover {
  background-color: gray;
  color: white;
}