.answer-form {
  height: auto;
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
}

.form-header {
  grid-row: 1 / span 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 5% auto; */
}

.form-body {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: auto;
}

.form-footer {
  grid-row: 3 / span 1;
  align-self: center;
  width: 100%;
}

.form-main, .form-user, .form-email, .form-photos {
  margin: 20px auto;
  width: 100%;
}

.textarea, .field {
  height: auto;
  width: 100%;
  padding: 10px;
  resize: none;
}

.field {
  height: 30px;
  size: 100%;
}

.submit-btn, .close-btn {
  height: 40px;
  width: 100%;
  border-color: black;
  border-radius: 5px;
  background-color: white;
}

.submit-btn:hover, .close-btn:hover {
  background-color: black;
  color: white;
}

.button-text {
  height: 40px;
}

.form-thumbnails {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #e6e6e6;
}

.thumbnail {
  display: block;
  border: 5px solid transparent;
  border-radius: 10px;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 0.5;
  z-index: 100;
}

.overlay:hover {
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
}