.answer-form, .question-form {
  height: auto;
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
}

.question-form {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  height: 100%;
}

.form-header {
  grid-row: 1 / span 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-body {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.form-footer {
  grid-row: 3 / span 1;
  justify-self: center;
}

.form-main, .form-user, .form-email, .form-photos {
  width: 100%;
}

.form-user, .form-email {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.textarea, .field {
  border-radius: 5px;
  height: auto;
  width: 100%;
  padding: 10px;
  resize: none;
}

.textarea {
  margin-bottom: 10%;
}

.field {
  grid-row: 1 / span 1;
  align-content: end;
  margin-top: 10px;
  height: 30px;
  size: 100%;
}

.sub {
  grid-row-end: 2 / span 1;
  align-items: start;
  margin-top: 5px;
  margin-left: 10px;
}

.submit-btn, .close-btn {
  height: auto;
  width: 200px;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: transform 0.3s;
}

.submit-btn:hover, .close-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

.form-thumbnails {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #e6e6e6;
}

.thumbnail {
  display: block;
  border: 5px solid transparent;
  border-radius: 10px;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 0.5;
  z-index: 100;
}

.overlay:hover {
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
}
