.container {
  max-width: 900px;
  margin: 5em auto;
}

.container {
  font-family: Arial;
}

.body {
  display: flex;
  flex-direction: column;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 3em 0;
}

.footer {
  display: flex;
}

.helpful, #AAdd-btn {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.display-on {
  display: block;
}

.display-off {
  display: none;
}

