.container {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  font-family: "adobe-clean", sans-serif;
}

.helpful {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}