.container {
  /* max-width: 900px; */

  margin: 5em 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 3em 0;
}

.footer {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
}

.separator {
  margin: 0 10px;
}

.overFlow {
  overflow-x: hidden;
  overflow-y: scroll;
}

.overFlow::-webkit-scrollbar {
  background: floralwhite;
  border-radius: 10px;
  width: 10px;
}

.overFlow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lightgray;
}

.display-on {
  display: block;
}

.display-off {
  display: none;
}
