.helpful-btn, #addAnswer-btn, .report-btn {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.display-on {
  display: inline;
}

.display-off {
  display: none;
}

.text, .number {
  margin: 0 10px;
  font-size: 14px;
}
