/* CSS for container */
.relatedContainer {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow: auto hidden;
  max-height: 450px;
  align-items: stretch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.relatedContainer::-webkit-scrollbar {
    display: none;
}

/* CSS for product card */
.productCard {
  flex: none;
  height: 100%;
  flex-basis: 30%;
  height: 400px;
  border: 1px solid transparent;
  margin-right: 10px;
  cursor: pointer;
  scroll-snap-align: start;
}

#productCard0 {
  margin-left: 0px;
}

.productCard:hover {
  border: 1px solid black;
}

.imageContainer {
  height: 70%;
  display: flex;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.star {
  font-size: 150%;
}

.star:hover {
  color: white;
}

.starContainer {
  /* align-self: flex-start; */
  margin-left: -10%;
  margin-top: 1%;
  order: 1;
}

.productInformationContainer {
  display: block;
  clear: both;
  padding: 10px;
  overflow: auto;
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
  min-height: 17px;
}

.category {
  flex: 1 1 auto;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #767677;
}

.productDetailsContainer {
  line-height: normal;
  height: 65px;
  display: block;
}

.productName {
  display: block;
  margin-top: 10px;
  max-height: 30px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: black;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.defaultPrice {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.salePrice {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: red;
}

.discountedPrice {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: black;
  text-decoration: line-through;
}

.averageRating {
  margin-top: 8px;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
}

/* CSS for arrow buttons */
.navigatorContainer {
  display: flex;
}

.leftArrowButton {
  align-self: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  border: 0px;
  outline: none;
  border: 1px solid black;
  transform: translateY(-50%);
  transition-property: color, background-color, opacity;
  transition-duration: 0.1s, 0.1s, 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1);
  transition-delay: 0s, 0s, 0s;
}

.leftArrowButtonHide {
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1);
  transition-delay: 0s, 0.2s;
  visibility: hidden;
}

.leftArrowButton:hover {
  background-color: black;
}

.leftArrowButton:hover .arrowLeft {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowLeft {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightArrowButton {
  align-self: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  border: 0px;
  right: 22%;
  margin-right: 0.25%;
  outline: none;
  border: 1px solid black;
  transform: translateY(-50%);
  transition-property: color, background-color, opacity;
  transition-duration: 0.1s, 0.1s, 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1);
  transition-delay: 0s, 0s, 0s;
}

.rightArrowButtonHide {
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0.45, 1), cubic-bezier(0.3, 0, 0.45, 1);
  transition-delay: 0s, 0.2s;
  visibility: hidden;
}

.rightArrowButton:hover {
  background-color: black;
}

.rightArrowButton:hover .arrowRight {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowRight {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* CSS for comparison modal */
.comparisonModalDisplayBlock {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
}

.comparisonModalMain {
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* border: 1px solid black; */
  padding: 1%;
  border-radius: 3px;
}

.modalBanner {
  display: flex;
  align-items: flex-start;
}

.modalBannerContent {
  /* flex: 1 1 auto; */
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #aeaec2;
  text-transform: uppercase;
  margin-left: 3px;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tableHeaders {
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  line-height: 80px;
  vertical-align: top;
}

.leftColumn {
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  white-space: nowrap;
}

.centerColumn {
  text-align: center;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #aeaec2;
  white-space: nowrap;
}

.rightColumn {
  text-align: right;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  white-space: nowrap;
}

/* CSS for Outfit Gallery */
.outfitContainer {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: flex-start;
  overflow: auto hidden;
  max-height: 450px;
  align-items: stretch;
  scroll-behavior: smooth;
}

.outfitContainer::-webkit-scrollbar {
  display: none;
}

.addToOutfitCard {
  flex: none;
  height: 100%;
  flex-basis: 30%;
  height: 400px;
  border: 1px solid transparent;
  margin-right: 8px;
  /* margin-left: 8px; */
}

.addToOutfitCard:hover {
  border: 1px solid black;
}

.addToOutfitCardContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addToOutfitCardContainer:hover .addToOutfitButton {
  background-color: black;
}

.addToOutfitCardContainer:hover .addToOutfitLabel {
  color: black;
  font-weight: bold;
}

.addToOutfitButton {
  height: 80px;
  line-height: 80px; 
  width: 80px;  
  font-size: 3.5em;
  font-weight: thin;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  text-align: center;
  cursor: pointer;
}

.addToOutfitLabel {
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: lightgray;
  margin-top: 10px;
}

.removeButtonContainer {
  /* align-self: flex-start; */
  margin-left: -10%;
  margin-top: 3%;
  order: 1;
}

.removeButton {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.removeButton > circle {
  stroke: black;
  fill: white;
}

.removeButton > path {
  stroke: black;
}

.removeButton:hover > circle {
  fill: black;
}

.removeButton:hover > path {
  stroke: white;
}