.widgetContainer {
  margin-left: 22%;
  margin-right: 22%;
}

.relatedItemsBanner {
  display: flex;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

.sectionTitle {
  color: #767677;
  font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}