.widgetContainer {
  margin-left: 20%;
  margin-right: 20%;
}

.relatedItemsBanner {
  display: flex;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

p {
  color: rgb;
  font-family: "adobe-clean", sans-serif;
}