.right {
  display: flex;
  flex-flow: column;
}

.imageDiv {
  height: 33vw;
  border:1px solid #E1E8ED;
  background: #f8f8f8;
  border-radius: 3px;
  text-align: center;
  position: relative;
}

.div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center;
  cursor: crosshair;
  position: relative;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.hide{
  visibility: hidden;
  display: none;
}

.thumbnails {
  height: 20.3vw;
  width: 4vw;
  position: absolute;
  top: 4%;
  left: 2%;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 3px;
}

.topArrow {
  position: relative;
  width: .6vw;
  height: .6vw;
  bottom: 98%;
  margin-right: 85%;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.arrowTop {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(225deg);
}

.hide {
  border: solid transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(225deg);
}

.downArrow {
  position: relative;
  width: .6vw;
  height: .6vw;
  bottom: 36%;
  margin-right: 85%;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(45deg);
}


.description1 {
  height: 8vw;
  margin-top: 2vw;
  text-align: left;
  color: #141414;
  font-family: "adobe-clean",
}

.heading {
  font-size: .9vw;
  color: #141414;
  font-family: "adobe-clean", sans-serif;
  text-align: left;
  margin-right: 20%;
  margin-left: 5%;
}

.text {
  font-size: .8vw;
  color: #141414;
  font-family: "adobe-clean", sans-serif;
  text-align: left;
  margin-right: 20%;
  margin-left: 5%;
}