.right {
  display: flex;
  flex-flow: column;
}
.image{
  height: 625px;
  width: 800px;
}

.thumbnails {
  height: 400px;
  width: 70px;
  position: absolute;
  top: 13%;
  /* left: 50px; */
  left: 19%;
  overflow: hidden;
}


h3 {
  font-family: "adobe-clean", sans-serif;
  font-size: 20px;
}

.description1 {
  height: 150px;
  width: 660px;
  margin-top: 60px;
  margin-left: 140px;
  text-align: left;
  color: #141414;
  font-family: "adobe-clean", sans-serif
}

h3 {
  color: #141414;
  font-family: "adobe-clean", sans-serif;
  margin-bottom: 10px;
  margin-right: 5px;
}

p {
  color: #141414;
  font-family: "adobe-clean", sans-serif;
  font-size: 16px;
  margin-right: 5px;
}