.left {
  display: flex;
  flex-flow: column;
}

.info {
  height: 625px;
}

p {
  max-width: 100%;
  height: auto;
}

.reviews {
  height: 20px;
  width: 200px;
  margin-top: 18px;
}

.link {
  text-decoration: underline;
}

.category {
  font-family: "adobe-clean", sans-serif;
  font-size: 16px;
  margin-top: 18px;
}

.name {
  font-family: "adobe-clean", sans-serif;
  font-size: 40px;
  margin-top: 5px;
  font-weight: bold;
}

.price {
  font-family: "adobe-clean", sans-serif;
  margin-top: 18px;
}

.text {
  display: flex;
  font-family: "adobe-clean", sans-serif;
  margin-top: 18px;
}

.second {
  font-family: "adobe-clean", sans-serif;
  margin-left: 5px;
}

.styles {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 160px;
  margin-top: 18px;
  overflow: hidden;
}

.selectors {
  display: flex;
  margin-top: 18px;
  height: 65px;
}

.select {
  height: 65px;
  width: 260px;
  margin-right: 20px;
}

select {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: "adobe-clean", sans-serif;
  padding-left: 6%;
  font-weight: bold;
}

.quantity {
  height: 65px;
  width: 140px;
}

.checkout {
  display: flex;
  margin-top: 18px;
  height: 65px;
}

.cart {
  height: 65px;
  width: 330px;
  margin-right: 20px;
  background-color: white;
  font-size: 18px;
  font-family: "adobe-clean", sans-serif;
  border:1px solid black;
  text-align: left;
  padding-left: 5%;
  font-weight: bold;
}

.favorite {
  height: 65px;
  width: 70px;
  background-color: white;
  border:1px solid black;
}

.description2 {
  height: 150px;
  width: 480px;
  margin-top: 60px;
  color: #141414;
  font-family: "adobe-clean", sans-serif;
  border-left: 2px solid grey;
}

ul {
  font-family: "adobe-clean", sans-serif;
  font-size: 16px;
  margin-left: 35px;
}