
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.modalmain {
  position:fixed;
  background: white;
  width: 40%;
  height: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-height: 100vh;
  overflow-y: auto;
  font-family: Helvetica;
  font-size: 16px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 30px;
  border-radius: 4px;
}

.closeButton {
  padding-bottom: 20px;
  padding-top: 30px;
  float: right;
  cursor: pointer;
  font-size: 25px;
  color: rgb(180, 180, 180);
}
.closeButton:hover {
  color: rgb(0, 0, 0);
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 50px;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
  text-align: center;
  padding-right: 50px;
  text-transform: uppercase;
}

.inputs {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: text;
}

.submitButton {
  width: 27%;
  height: 55px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 32px;
  border-color: black;
  border-radius: 2px;
  color: white;
  background-color: rgb(4, 0, 0);
}

.submitButton:hover {
  background-color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);
}

.recommend {
  margin-bottom: 10px;
}

.recommendButton {
  margin-right: 10px;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid rgb(165, 165, 165);
}

.select {
  font-size: 13px;
  margin-top: 20px;
}

.privacy {
  margin-bottom: 15px;
  font-size: 13px;
  width: 85%;
  color: #767677
}

.productContainer {
  display:flex;
  margin-top: 15px;
  font-size: 16px;
}

.footer {
  margin-top: 20px;
  display: flex;
}

.terms {
  font-size: 13px;
  color: #767677;
  width: 50%;
  /* margin-top: 35px; */
}

.ratingContainer {
  width: 50%;
}

.infoContainer {
  display: flex;
}

.product, .reviews {
  margin-bottom: 20px;
}


.reviews, .persInfoContainer {
  padding-right: 50px;
}


.productExp  {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 25px;
}

.yourReview, .personalInfo {
  border-top: 1px solid black;
  padding-top: 30px;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 25px;
}

.summaryInput {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  cursor: text;
}

.bodyInput {
  margin-top: 10px;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  cursor: text;
}

.summary {
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
}
.recommendContainer {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-top: 10px;
}

.recommendButtons {
  display: flex;
}

.recommendLabel {
  padding-top: 7px;
}

.chars {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nickname, .email {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: text;
  width: 100%;
  height: 40px;
}

.infoChild {
  width: 50%;
}

.emailContainer {
  width: 50%;
  padding-left: 10%;
}

.bodyInput {
  padding-left: 14px;
  padding-top: 14px;
  font-family: Helvetica;
  resize: none;
  border: 1px solid rgb(165, 165, 165);
}

.summaryInput, .nickname, .email{
  padding-left: 14px;
  padding-top: 12px;
  font-family: Helvetica;
  resize: none;
  border: 1px solid rgb(165, 165, 165);
}

.alert {
  font-size: 13px;
  text-align: center;
  height: 30px;
  color: red;
  font-family: Helvetica;
  margin-top: 20px;
}

.bodyInput:hover, .summaryInput:hover, .nickname:hover, .email:hover {
  border: 1px solid rgb(0, 0, 0);
}

.bodyInput:active, .bodyInput:focus, .summaryInput:active,  .summaryInput:focus, .nickname:active, .nickname:focus, .email:focus, .email:active {
  outline: none;
  border-bottom: 3px solid black;
}
