.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 100%;
  height: 85%;
  max-height: 100%;
  z-index: 1010;
  border: 2px black;
  border-style: solid;
  font-family: Arial;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 90%
}

.submitButton {

  width: 20%;
  height: 40px;
  font-size: 15px;
}

.starContainer {
  margin-bottom: 20px;
}

.star {
  height: 20px;
  width: 20px;
}

.recommend {
  margin-bottom: 10px;
  font-size: 18px;
}

.inputs {
  font-size: 18px;
}

.recommendButton {
  width: 50px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.privacy {
  margin-bottom: 15px;
  font-size: 15px;
}
