.questionBody {
  display: flex;
  padding: 2em 0;
  justify-content: space-between;
}

.questionLeft {
  display: flex;
  width: 70%;
}

.questionText, .questionQ {
  font-weight: bold;
  font-size: 20px;
}

.questionQ {
  padding-right: 5px;
}

.questionSidebar {
  display: flex;
  justify-content: flex-end;
}
