.progress_bar {
  position: relative;
  height: 6px;
  width: 70%;
  background:rgb(218, 216, 216);
  margin-right: 10px;
}

.filler {
  background:rgb(0, 3, 0);
  height: 100%;
}

.container {
  display:flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.star {
  width: 50px;
}

